################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Erelia/v16
/Erelia/client/Erelia_MMO.exe
/Erelia/Debug
/Erelia/x64
/Erelia_installer/Debug
/Erelia_installer/x64
