################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Erelia/v16
/Erelia/client/Erelia_MMO.exe
/Erelia/Debug
/Erelia/ressource/world/chunk/chunk2x0y.chk
/Erelia/ressource/world/chunk/chunk2x-2y.chk
/Erelia/ressource/world/chunk/chunk2x-1y.chk
/Erelia/ressource/world/chunk/chunk1x1y.chk
/Erelia/ressource/world/chunk/chunk1x0y.chk
/Erelia/ressource/world/chunk/chunk1x-2y.chk
/Erelia/ressource/world/chunk/chunk1x-1y.chk
/Erelia/ressource/world/chunk/chunk0x1y.chk
/Erelia/ressource/world/chunk/chunk0x0y.chk
/Erelia/ressource/world/chunk/chunk0x-2y.chk
/Erelia/ressource/world/chunk/chunk0x-1y.chk
/Erelia/ressource/world/chunk/chunk-3x0y.chk
/Erelia/ressource/world/chunk/chunk-3x-2y.chk
/Erelia/ressource/world/chunk/chunk-3x-1y.chk
/Erelia/ressource/world/chunk/chunk-2x1y.chk
/Erelia/ressource/world/chunk/chunk-2x0y.chk
/Erelia/ressource/world/chunk/chunk-2x-2y.chk
/Erelia/ressource/world/chunk/chunk-2x-1y.chk
/Erelia/ressource/world/chunk/chunk-1x1y.chk
/Erelia/ressource/world/chunk/chunk-1x0y.chk
/Erelia/ressource/world/chunk/chunk-1x-2y.chk
/Erelia/ressource/world/chunk/chunk-1x-1y.chk
