################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Erelia/v16
/Erelia/client/Erelia_MMO.exe
/Erelia/Debug
/Erelia/x64
/Erelia_installer/Debug
/Erelia_installer/x64
/Erelia/Obj/Debug
/Erelia/client
/Erelia/client
/Erelia/client/ressource/configuration/config.uiconf
/Erelia/client/ressource/font/karma suture.ttf
